{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
  <div class="bienvenu md:flex justify-between p-10 bg-gradient-to-b from-gray-900 to-purple-10">
    <div class="soratra items-center mb-6">
      <div class="text-white mb-10">
        <h1 class="text-5xl font-bold">Lorem ipsum dolor sit amet consectetur adipisicing
          elit</h1>
      </div>
      <div class="text-white mb-12">
        <h1 class="text-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae similique sit
          labore eaque illo</h1>
      </div>

      <div class="button flex">
        <div class="">
          <button
            class="border rounded border-gray-400 bg-gray-500 text-white p-2 px-6 cursor-pointer hover:border-gray-400 focus:bg-gray-700">connexion</button>
        </div>
        <div class="mx-8">
          <a href="{{ path ('actualite') }}"><button class="border rounded border-white-500 bg-blue-700 p-2 px-6 hover:bg-yellow-400 duration-500 hover:scale-105 hover:text-white">Actualite</button></a>
        </div>
      </div>
    </div>
    <div class="sary md:w-2/3">
      <img src="w3images/app.jpg" class="md:h-80 md:w-100 rounded cursor-pointer hover:scale-105 duration-500" alt=""
        srcset="">
    </div>
  </div>
{% endblock %}
